@import "../../../utils/variables";


.reminderContainer{
    height: 100%;
    .mealInfoContainer{
        display: flex;
        flex-direction: column;
       
        .mealInfo{
            margin: 0.75rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .mealName{
                color: $textColor3;
            }
            .mealTime{
                color:$textColor2
                ;
                font-weight: 500;
            }
        }
        .reminderDivider{
            border: 0.1px solid;
            border-color: $textColor4;
        }
    }
}

@media screen and (max-width: 480px) {
    .reminderContainer{
        height: min-content;
        padding: 0.5rem 0;
        margin: 0;
    }
}