@import "../../utils//variables";

* {
    scroll-behavior: smooth;
    font-family: $Oswald, $Roboto;
}


.homepage {
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    max-width: 100%;

    .section-home {
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        width: 90vw;
        height: fit-content;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        overflow-y: hidden;
    }

    .section-features {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        font-size: 3vw;
        background-image: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
    }


    .section-plans {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        background-image: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
    }

    .section-test {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        font-size: 3vw;
    }

    .section-faq {
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 5vh 0 18vh 0;
        display: flex;
        width: 90vw;
        height: fit-content;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
    }

    .footer-home {
        padding-top: 20vh !important;
        position: relative;
        padding: 4vh 5vw;
        height: 40%;
        width: 100%;
        background-color: rgba(233, 233, 233, 0.33);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .first-div-footer {
                display: flex;
                flex-direction: column;
                gap: 2vh;

                .logos {
                    color: $brandColor1;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    cursor: pointer;

                    .fb {
                        font-size: 2.5rem;
                    }

                    .insta {
                        font-size: 2.5rem;
                    }
                    .twitter {
                        font-size: 2.5rem;
                    }
                }

                .footer-text {
                    width: 30rem;
                    color: #4F5665;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }

                .company-info {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5vw;

                    .company-logo {
                        width: 3rem;
                    }

                    .company-name {
                        color: $textColor1;
                        font-family: Oswald;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        a {
                            text-decoration: none;
                            color: $textColor1;
                        }
                    }
                }
            }

            .second-div-footer {
                display: flex;
                flex-direction: column;

                .heading-section {
                    color: $textColor1;
                    font-family: Oswald;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    margin-bottom: 2vh;
                }

                .nav-links {
                    height: 10vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;

                    li {
                        list-style: none;
                        text-decoration: none;
                        color: $textColor2;
                        font-family: Roboto;
                        font-size: 1.2rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;

                        a {
                            text-decoration: none;
                            color: $textColor2;
                            font-family: Roboto;
                            font-size: 1.2rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    .top-button a {
        position: fixed;
        bottom: 1vh;
        right: 1vw;
        color: white;
        background-color: rgba(172, 199, 65, 1);
        padding: 1vh 1vw;
        font-size: 2vw;
        border-radius: 1vw;
        box-shadow: (0, 0, 0, 0.15);
    }
}