@import "../../../utils/variables";

.formOne {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .genderContainer {

        .radioDivContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            width: 50%;
            margin-top: 1rem;

            .radioCard {

                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 0.5rem;
                width: max-content;
                box-shadow: 0px 6px 10px 0px rgba(131, 134, 163, 0.12);
                background: $white;
                cursor: pointer;

                &.active {
                    background: $brandColor1;

                    i {
                        color: $textColor1;
                    }

                    p {
                        color: $textColor1;
                    }
                }

                .genderInput {

                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-end;
                    border: 0.25rem solid $textColor4;
                    border-radius: 50%;
                    background: $white;

                    i {
                        display: none;
                    }

                    &.active {
                        background: $textColor1;
                        border-radius: 50%;
                        width: 2rem;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-self: flex-end;
                        border: none;

                        i {
                            display: inline;
                            font-size: 1.25rem;
                            color: $white;
                            font-weight: 700;
                        }


                    }
                }

                i {
                    font-size: 3rem;
                    color: $textColor3;
                }

                .genderType {
                    font-size: 1.25rem;
                    color: $textColor3;
                    font-weight: 600;
                    font-family: $Roboto;
                }
            }

        }

    }

    .ageContainer {
        margin-top: 1rem;

        .inputLabelContainer {
            width: 50%;
            margin-top: 1rem;

            .textInput {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 1px solid $textColor3;
                padding-bottom: 0.5rem;
                font-size: 1.325rem;
                font-family: $Roboto;
                color: $textColor1;
                font-weight: 400;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    appearance: none;
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }

    .heightWeightContainer {
        display: flex;
        width: 100%;
        gap: 3rem;
        margin-top: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 2rem;

        .heightContainer {
            flex: 1;

            .heightCard {
                width: 100%;
                height: max-content;
                margin-top: 1rem;
                background: $white;
                border-radius: 0.5rem;
                display: flex;
                align-items: last baseline;
                justify-content: space-around;
                box-shadow: 0px 6px 10px 0px rgba(131, 134, 163, 0.12);
                padding: 3rem;
                font-size: 2rem;
                color: $textColor3;

                .heightInput {
                    border: none;
                    outline: none;
                    font-size: 4rem;
                    color: $textColor2;
                    font-weight: 500;
                    width: 100%;
                    text-align: center;
                    align-self: center;
                    background: transparent;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        appearance: none;
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }

        .buttonGroup {
            flex: 2;
            align-self: last baseline;
            display: flex;
            align-items: center;
            margin-left: auto;
            justify-content: flex-end;
            gap: 4rem;

            .navButton {
                display: flex;
                gap: 0.5rem;
                background: transparent;
                font-size: 1.5rem;
                align-items: center;
                color: $brandColor1;

                cursor: pointer;

                .btnText {
                    font-size: 1.75rem;
                    font-weight: 300;
                }

                i {
                    background-color: $brandColor1;
                    width: 2.25rem;
                    height: 2.25rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: $white;
                    font-size: 1rem;
                    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }


    .containerTitle {
        font-size: 1.75rem;
        font-weight: 400;
        color: $textColor1;
    }
}


@media (max-width:480px) {
    .formOne {
        
        .heightWeightContainer {
            width: 100%;
            justify-content: space-around;
            gap: 1rem;
            padding: 0;

            .heightContainer {
                margin-bottom: 1rem;
                .heightCard {
                    padding: 1rem;
                    width: 8rem;

                    .heightInput {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 0.75rem;
                    }
                }

                .buttonGroup {
                    .navButton {
                        .btnText {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}